{% extends "base.html" %}

{% block content %}

{% if not request.user.is_authenticated %}
<div style="margin-top:30px;">
    <p>Login:</p>
    <form method="POST">
        <!-- Show error if incorrect username -->
        {% if error %}
            <p style="color:red">{{ error }}</p>
        {% endif %}
        {% csrf_token %}
        <!-- for to login -->
        <div><input type='text' name='username' placeholder="Your Username:"/></div>
        <div><input type='password' name='password' placeholder="Your Password:"/></div>
        <div><button type='submit'>Login</button></div>
    </form>
</div>
{% else %}
<p>You are already log in, would you liek to <a href='/logout/'>logout</a></p>
{% endif %}
{% endblock content %}