<!DOCTYPE html>
<html>
    <head>
        <title>Przemka zabawy z Django</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/library/articles/">Przemka zabawy z Django</a></h1>
        </div>

        <!-- Base form for search -->
        <div class="page-header">
            <p>Search Bar:</p>
        <form action="/library/articles/">
            <input type='text' name='query'/>
            <input type='submit'/>
        </form>
            <p>-------------</p>
        </div>

        <div class="content container">
            <!-- Here we will add detail.html content -->
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>