<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    </head>
    <body>
        <h1>Przemka zabawy z Django</h1>
        <div class="page-header">
            <h1><a href="/library/articles/">Przemka zabawy z Django</a></h1>
        </div>

        <!-- Base form for search -->
        {% include 'search/search-form.html' %}

        <div class="content container">
            <!-- Here we will add detail.html content -->
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>