<div id="recipe-container">
<form action="." method="POST" hx-post='.' hx-swap='outerHTML' hx-trigger='submit'>
    <h3>Create Recipe</h3>
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <!-- Another quick way to dynamically add class to all fields -->
    {% for field in form %}
        <!-- insted to manuall add class we can add it from form -->
        <!-- <div class="{% if field.field.required%}required-class{% endif %}"> -->
        <div class="{% if field.field.required%}{{ form.required_css_class }}{% endif %}">
        {{ field.errors }}
        {{ field.label_tag }}{{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        </div>
    {% endfor %}

    {% if formset %}
    <h3>Ingredient:</h3>
    <!-- {{ formset.as_p }} -->
    {{ formset.management_form }}
    <div id='ingredient-form-list'>
        {% for form in formset %}
                <div class='ingredient-form'>
                    {{ form.as_p }}
                </div>
        {% endfor %}
    </div>

    <div id='empty-form' class='hidden'>{{ formset.empty_form.as_p }}</div>
    <button id='add-more' type='button'>Add more</button>
    {% endif %}
    <div class="htmx-indicator">Loading...</div>
    <div><button class="htmx-inverted-indicator"type='submit'>Save</button></div>
</form>
</div>